@tailwind base;
@tailwind components;
@tailwind utilities;

/* body */

body {
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 500px;
}

/* cta section */

#cta>div>div {
  background-image: url('../images/bg-simplify-section-mobile.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

@media (min-width: 768px) {

  /* body */
  body {
    background-position: right -20%;
    background-size: 700px;
  }

  /* cta section */
  #cta>div>div {
    background-image: url('../images/bg-simplify-section-desktop.svg');
    background-position: center center;
  }
}

/* mobile navigation menu */

.mobile-nav-menu {
  position: fixed;
  z-index: 1000;
  transition: transform 700ms ease-in-out;
  transform: translateY(-150%);
}

.mobile-nav-menu[data-visible="true"] {
  transform: translateY(0%);
}

/* give full width to links inside list-items of menu */

.mobile-nav-menu>* {
  width: 100%;
}

.mobile-nav-menu>*>* {
  width: 100%;
  justify-content: center;
}

.mobile-nav-menu-overlay {
  transform: translateY(150%);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: transform 400ms ease-in-out;
  background-color: hsl(230 35% 7% / 0.45);
  z-index: 800;
  display: block;
  height: 100vh;
}

@supports (backdrop-filter: blur(25px) saturate(150%)) {
  .mobile-nav-menu-overlay {
    background-color: hsl(var(--clr-white) / .05);
    backdrop-filter: blur(25px) saturate(150%);
    -webkit-backdrop-filter: blur(25px) saturate(73%);
  }
}

.mobile-nav-menu[data-visible="true"]~.mobile-nav-menu-overlay {
  transform: translateY(0%);
}

.mobile-nav-toggle {
  position: absolute;
  z-index: 2000;
  right: 1rem;
  top: 1rem;

  background-color: transparent;
  border: 0;
}

.mobile-nav-toggle div {
width: 35px;
height: 3px;
background-color: black;
margin: 6px 0;
transition: 0.4s;
}

/* animation of menu button toggle */

.mobile-nav-toggle[aria-expanded="true"] .bar1 {
-webkit-transform: rotate(-45deg) translate(-6px, 6px);
transform: rotate(-45deg) translate(-6px, 6px);
}

.mobile-nav-toggle[aria-expanded="true"] .bar2 {
opacity: 0;
}

.mobile-nav-toggle[aria-expanded="true"] .bar3 {
-webkit-transform: rotate(45deg) translate(-6px, -8px);
transform: rotate(45deg) translate(-6px, -8px);
}

/* "focus-visible" activates when 
selected using keyboard(after pressing tab) */
.mobile-nav-toggle:focus-visible {
  outline: 5px solid white;
  outline-offset: 5px;
}

/* get started button  */

.landing-orange-getStarted {
  border-width: 0;
  box-shadow: 0px 10px 15px -3px hsl(12, 88%, 69%);
}

/* style for splide */

.testimonials-carousel .splide__slide{
  @apply flex justify-center
}

.testimonials-carousel h2{
  @apply text-darkBlue
}

.testimonials-carousel p{
  @apply text-darkGrayishBlue
}

.splide__slide img {
  width: 20%;
  height: auto;
  @apply mx-auto
}

.splide__pagination {
  position: static;
}